.costats_web {
    background-color: #f8f8d8;
}
#colorNav{
    background: #D4C5C5;
}
#contanidor_fanfic{
    min-height: 70vh;
}
footer{
    text-align: center;
    background: #D4C5C5;
}

html {
    font-family: arial;
}
footer p {
    text-align: justify;
}
ul.xarxes li {
    display: inline-block;
}
ul.xarxes li a {
    color: blueviolet;
}
.avatar{
    border: 5px solid blueviolet;
    border-radius: 50%;
    float: left;
    height: 100px;
    width: 100px;
}

#noticiesFont {
    font-family: Lucida;
}