.costats_web {
    background-color: #f8f8d8;
}

footer{
    text-align: center;
    background: #9fcdff;
}
footer p {
    text-align: justify;
}
ul.xarxes li {
    display: inline-block;
}
ul.xarxes li a {
    color: blueviolet;
}
.avatar{
    border: 5px solid blueviolet;
    border-radius: 50%;
    float: left;
    height: 100px;
    width: 100px;
}